@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/jquery.lightbox-0.5.css")

@Html.Action("RenderGellery")
<p>
    @Html.ActionLink("Добавить изображение", "Create")
</p>

@section scripts{

    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/imageGallery.js")
    @Scripts.Render("~/Scripts/jquery.lightbox.js")

    
    
    <script type="text/javascript">
        jQuery(function () {
            jQuery("a.lightbox").lightBox({
                keyToClose: 'c',
                txtImage: "sadsadas"

            });
        })
    </script>

    @*<script type="text/javascript">

            $("#glrPag li a").click(function(event) {
                event.preventDefault();
                var pagei = 2;
                $.getJSON("JsonTest",
                    {page: pagei },
                    function(data) {
                        $('#test').html(data.FilePath);
                        //  $("#img1").attr("src", data.Content);
                        $("#img1").attr("src", "@Url.Action("JsonTest",new{page=2})");
                        alert("+");
                    });


            });

        </script>*@
    

    @*<script type="text/javascript">
        function loadImg(p) {

            $.getJSON("GetGalleryPage",
                { page: parseInt(p).toString() },
                function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#img" + (i + 1)).attr("src", "GetImage?id=" + data[i]);
                    }
                });
        }
    </script>
    

    <script type="text/javascript">
        $(document).onload(loadImg(1));
    </script>
    

    <script type="text/javascript">
        $("#glrPag li a").click(function(event) {
       
            event.preventDefault();

            var p = this.textContent;

            loadImg(p);
        });
    
    </script>*@

    @*<script type="text/javascript">
        
        $("#glrPag li a").click(function (event) {
            var ie = 1;
            event.preventDefault();
            @*$("#img"+ie).attr("src", "@Url.Action("JsonTest",new{page=2})");
            $(".item").each(function() {
                $(this).attr("src", "JsonTest?page="+ie);
            });
            ie++;
        });
    </script>*@
}